# https://account.mapbox.com/access-tokens/
MAPBOX_TOKEN=your-mapbox-token

# change it if you like
DJANGO_SUPERUSER_USERNAME=travellog
# ATTENTION: must change this
DJANGO_SUPERUSER_PASSWORD=!!CHANGE-IT-TO-YOUR-PASSWORD
DJANGO_SUPERUSER_EMAIL=!!CHANGE-IT-TO-YOUR-EMAIL@email.com

MYSQL_HOST=mysql
MYSQL_DATABASE=travellog
MYSQL_USER=travellog
MYSQL_PASSWORD=travellog
MYSQL_ROOT_PASSWORD=travellog

TIME_ZONE=Asia/Shanghai

# https://github.com/glasslion/django-qiniu-storage
QINIU_ACCESS_KEY=0
QINIU_SECRET_KEY=0
QINIU_BUCKET_NAME=0
QINIU_BUCKET_DOMAIN=0